nav{ text-align: right;}
h1{
    text-align: center;
    color: red;
}
.box{
    width: 100%;
    height: 100%;
}
 .leftBox{
    width:50% ;
    height:50%;
    float: left;  
}
#elon{
    width: 200px;
    height: 200px;

}
#Child h3{
    text-align: center;
}
p{
    color: blue;
}

#Zip2 h3 {
    text-align:center;
}
.leftBox  img {
    width: 30%;
  
}
.leftBox elon img{
    width: 30%;
    padding: 20px;
    display: block;
}

#ComFou h3{
    width: 80%;
    text-align: center;
    display: block;
}
#Child h3 {
    text-align: right;
}
.rightBox {
    width:50% ;
    height: 50%;
    float: left ;
}
#X h3 {
    text-align: center;
    }
#spacex h3 {
    text-align: center;
}
#Awards h3 {
    text-align: center;
}
#PopMedia h3{
    text-align: center;
}
ol  {
    color: red;
    
}
li {
    color:blue;
}